<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2><%=@team.name%>'s drivers</h2>

    <div class="content">
      <ul>
        <%@team.drivers.each do |driver|%>
        <li><%=driver.name%></li>
        <li><%=driver.driver_class%></li>
        <li><%=driver.number%></li>
        <li><a href="/drivers/<%=driver.id%>/edit">Edit This Driver</a></li>
        <br>
      </ul>
      <%end%>
      <br>
      <br>
      <a href="/teams">View all Team</a>
      <a href="/drivers">View all Drivers</a>
    </div>
  </div>
</div>
