<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>View Driver</h2>

    <div class="content">
      <h3><%=@driver.name%></h3>
      <br>
      <h3><%=@driver.number%></h3>
      <br>
      <h3><%=@driver.driver_class%></h3>
      <br>
      <h3><%=@driver.team.name%></h3>
      <br>
      <a href="/drivers">View All Drivers</a>
      <a href="/drivers/new">Create a Driver</a>
      <a href="/drivers/<%=@driver.id%>/edit">Edit this driver</a>
    <form action="/drivers/<%=@driver.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Driver">
    </form>
    </div>



  </div>
</div>
